<!DOCTYPE html>
<html>
<head>
  <title>Radio_Show_App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- <p>Hi <%= @current_user.hostName  %>,  </p> -->

<body>
	<div class="navbar navbar-default" style="background-color:#c8c8c8" role="navigation">
     
<div class="container" id="container1">
	<div class="navbar-header">
            <ul class="nav navbar-nav">
            <li style="font-size: 22px;">
                <%= link_to "HOME", root_url %> 
                 </li>
                 
                 <!-- <li >
                 <%= link_to " Logout", :controller=> "sessions", :action=> "logout" %>
                  </li>
             
            <li class="active">
            	<p class="navbar-text" align="left">Hi <%= @current_user.hostName %>,  </p>
            	</li> -->
        </ul>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
            	
               
                 <%= link_to " Logout", :controller=> "sessions", :action=> "logout" %>
                  
            	
            	
                <div class="form-group">
                	<a class="navbar-text" align="right">Hi <%= @current_user.hostName %>,  </a>
                    <!-- <input id="myText" name="q" autocomplete="off" type="text" placeholder="TRENDS" class="form-control"> -->
                </div>                
                <!-- <button type="submit" class="btn btn-success">SEARCH</button> -->
            <!--<button type="submit" class="btn btn-success" onclick="displayresult();">SEARCH</button>-->
            </form>
            
          </div>
        </div>
        
        </div>
        
        <div class="container" id="container1">
        	
        	
<%= yield %>

</div>
<style>

</style>
</body>
</html>
