<div class="panel panel-default">
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title text-center">Please Register</h3>
                    </div> -->
                    <div class="panel-body">


<p id="notice"><%= notice %></p>

<p></br>
  <strong>Username:</strong>
  <%= @user.userName %>
</p>

<p></br></br>
  <strong>Hostname:</strong>
  <%= @user.hostName %>
</p>

<p></br>
  <strong>Emailaddress:</strong>
  <%= @user.emailAddress %>
</p>

<p></br>
  <strong>Timeserver:</strong>
  <%= @user.timeServer %>
</p>

<p></br>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p></br>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p></br>
  <strong>Flashtime:</strong>
  <%= @user.flashTime %>
</p>

<%= link_to 'Edit', edit_user_path(@user) ,:class =>"btn btn-default btn-sm"%> 
<%= link_to 'Back', users_path , :class =>"btn btn-default btn-sm"%>

</div>
</div>
<style>
.panel {
    background: rgba(255,255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 2x0px;
   width: 600px;

}
</style>
