<table>
  <thead>
    <tr>
      <th>Name by Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @radio_shows_copy.each do |radio_show| %>
      <tr>
        <td><%= radio_show.name %></td>
        <td><%= radio_show.description %></td>
        <td><%= link_to 'Show', radio_show %></td>
        <td><%= link_to 'Edit', edit_radio_show_path(radio_show) %></td>
        <td><%= link_to 'Destroy', radio_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
<%radio_show.show_timings.each do |show_timing|%>
      <tr>
        <td><%= show_timing.day %></td>
        <td><%= show_timing.startTime %></td>
        <td><%= show_timing.endTime %></td>
      </tr>
<%end%>

    <% end %>
  </tbody>
</table>

